.layout-container {
  width: 100dvw;
  max-width: 1366px;
  margin: auto;
  background: var(--Color-Schema-Surface-Secondary, #F7F9FB);
  overflow: hidden;

  .main-container {
    .sidebar-container {
      width: 30%;
      max-width: calc(320px + 16px + 16px);
      height: 90dvh;
      padding: 16px;
      margin: 0 8px;
      border-radius: 28px;
      background: var(--Color-Schema-Surface-Primary, #FFF);
      color: white;
      transition: width 1s ease;
      &.collapsed {
        width: 76px;
        display: flex;
        justify-content: center;
        padding: 0;
      }
    }

    .main-layout-container {
      width: 70%;
      max-width: calc(902px + 16px + 16px);
      height: 90dvh;
      margin: 0 8px;
      padding-bottom: 2em;
      overflow-y: auto;
      &.collapsed {
        max-width: calc(1150px + 16px + 16px);
      }
    }
  }
}

::ng-deep {
  .p-drawer-header {
    padding: 1em !important;
  }
  .p-drawer-right {
    width: 320px !important;
    height: 100vh !important;
    background: #F7F9FB !important;
  }
}

