.dashboard-container {
  .header-container {
    color: var(--Color-Schema-On-Surface-Secondary, #555);
    font-family: IRANYekanXFaNum;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 240% */
  }
}
