@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";

@font-face {
  font-family: "IranYekan";
  src: url("libs/ui/src/assets/fonts/IRANYekanX-Regular.woff") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: IranYekan;
}

.pi {
  font-family: "primeicons" !important;
}
.input-field {
  width: 352px;
  height: 48px;
  opacity: 1;
  border-radius: 20px;
  padding: 8px 16px 8px 16px;
  background: var(--Negatives-Black-4, #0000000A);
  text-align: center;
  &:focus {
    outline: none;
    color: #999999;
  }
}

//TODO: GHANGE BUTTON TO LIB COMPONENT
.global-button {
  width: 352px;
  height: 48px;
  opacity: 1;
  border-radius: 20px;
  margin: 16px 0;
  padding: 8px 16px 8px 16px;
  color: #ffffff;
  &.active {
    background: var(--Color-Schema-Main-Colors-Primary, #009975);
  }
  &.disabled {
    background: rgba(119, 119, 119, 0.3);
    cursor: not-allowed;
  }
}
