.new-optional-advertisement-template-container {
  .product-images-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 8px;
    padding-bottom: 8px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 4px;
    }

    .product-image-container {
      flex: 0 0 auto;
      width: 80px;
      height: 108px;
      border-radius: 12px;
      padding: 2px;
      background: #0000000A;
      opacity: 1;

      img {
        width: 76px;
        height: 76px;
        border-radius: 10px;
        object-fit: cover;
        display: block;
      }
    }
  }

  .cost {
    font-family: IRANYekanXFaNum;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #0058CC;
    display: block;
    text-align: left;
    margin: 0.5em 0;
  }

  .details-container {
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 28px;
      gap: 8px;
      opacity: 1;
      padding-top: 4px;
      padding-bottom: 4px;
      border-radius: 12px;
      background: #0000000A;
      font-family: IRANYekanXFaNum;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0;

      img {
        width: 13px;
        height: 13px;
      }
    }
  }

  .description {
    width: 100%;
    height: 48px;
    border-radius: 12px;
    padding: 8px;
    background: #0000000A;
    margin: 0.5em 0;
    overflow: hidden;

    p {
      font-family: IRANYekanXFaNum;
      font-weight: 400;
      font-size: 11px;
      line-height: 20px;
      letter-spacing: 0;
      color: #555555;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .tags-container {
    margin: 1em 0;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 8px;
    padding-bottom: 8px;
    scroll-behavior: smooth;

    .tag {
      gap: 8px;
      opacity: 1;
      padding: 8px 16px;
      border-radius: 20px;
      background: #0000000A;
      font-family: IRANYekanXFaNum;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0;
      color: #222222;
    }
  }

}


.line {
  height: 1px;
  border-radius: 4px;
  background: var(--Color-Schema-On-Surface-Separator, #E6E6E6);
}
